  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><b>Bienvenido!</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" data-toggle="tooltip" data-placement="bottom" title="Página de Inicio" data-original-title="Tooltip on bottom"><a href="./index.html">Inicio <span class="sr-only">(current)</span></a></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Compra y Venta de Cryptocurrencies" data-original-title="Tooltip on bottom">Compra/Venta<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="ArgenBTC" data-original-title="Tooltip on bottom"><a href="https://argenbtc.com/" target="_blank">ArgenBTC</a></li>          
            <li data-toggle="tooltip" data-placement="bottom" title="Ripio" data-original-title="Tooltip on bottom"><a href="https://www.ripio.com/" target="_blank">Ripio</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="LocalBitcoins" data-original-title="Tooltip on bottom"><a href="https://localbitcoins.com/" target="_blank">LocalBitcoins</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Software de Minería" data-original-title="Tooltip on bottom">Software de Minería<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="NiceHash" data-original-title="Tooltip on bottom"><a href="https://miner.nicehash.com/" target="_blank">NiceHash</a></li>           
            <li data-toggle="tooltip" data-placement="bottom" title="Claymore's Dual Ethereum AMD GPU Miner" data-original-title="Tooltip on bottom"><a href="https://github.com/nanopool/Claymore-Dual-Miner/releases" target="_blank">Claymore's Dual Ethereum AMD GPU Miner</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Claymore's CryptoNote AMD GPU Miner" data-original-title="Tooltip on bottom"><a href="https://bitcointalk.org/index.php?topic=638915.0" target="_blank">Claymore's CryptoNote AMD GPU Miner</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="ethOS Mining OS" data-original-title="Tooltip on bottom"><a href="http://ethosdistro.com/" target="_blank">ethOS Mining OS</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="SimpleMining OS" data-original-title="Tooltip on bottom"><a href="https://simplemining.net/" target="_blank">SimpleMining OS</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Pools de Minería" data-original-title="Tooltip on bottom">Pools de Minería<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="Expanse Official Pool" data-original-title="Tooltip on bottom"><a href="http://pool.expanse.tech/" target="_blank">Expanse Official Pool</a></li>           
            <li data-toggle="tooltip" data-placement="bottom" title="PPLNS Expanse Pool" data-original-title="Tooltip on bottom"><a href="https://expmine.pro/" target="_blank">expmine.pro</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Dwarfpool" data-original-title="Tooltip on bottom"><a href="https://dwarfpool.com/" target="_blank">Dwarfpool</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Coinmine" data-original-title="Tooltip on bottom"><a href="https://www2.coinmine.pl/" target="_blank">Coinmine</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Nanopool" data-original-title="Tooltip on bottom"><a href="https://nanopool.org/" target="_blank">Nanopool</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Coinotron" data-original-title="Tooltip on bottom"><a href="https://www.coinotron.com/" target="_blank">Coinotron</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Suprnova.cc" data-original-title="Tooltip on bottom"><a href="https://www.suprnova.cc/" target="_blank">Suprnova.cc</a></li>
          </ul>
          </ul>
    </div>
  </div>