  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><b>Welcome!</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" data-toggle="tooltip" data-placement="bottom" title="Home Page" data-original-title="Tooltip on bottom"><a href="./index.html">Home <span class="sr-only">(current)</span></a></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Buy and Sell Cryptocurrencies" data-original-title="Tooltip on bottom">Buy/Sell<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="ArgenBTC" data-original-title="Tooltip on bottom"><a href="https://argenbtc.com/" target="_blank">ArgenBTC</a></li>          
            <li data-toggle="tooltip" data-placement="bottom" title="Ripio" data-original-title="Tooltip on bottom"><a href="https://www.ripio.com/" target="_blank">Ripio</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="CryptoMKT" data-original-title="Tooltip on bottom"><a href="https://www.cryptomkt.com/" target="_blank">CryptoMKT</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="LocalBitcoins" data-original-title="Tooltip on bottom"><a href="https://localbitcoins.com/" target="_blank">LocalBitcoins</a></li></ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Cryptocurrencies Analysis" data-original-title="Tooltip on bottom">Analysis<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="Whattomine" data-original-title="Tooltip on bottom"><a href="https://whattomine.com/" target="_blank">Whattomine</a></li>   
            <li data-toggle="tooltip" data-placement="bottom" title="Coinwarz" data-original-title="Tooltip on bottom"><a href="https://www.coinwarz.com/cryptocurrency" target="_blank">Coinwarz</a></li>
            <li class="divider">Technical Analysis</li>
            <li data-toggle="tooltip" data-placement="bottom" title="Coinigy" data-original-title="Tooltip on bottom"><a href="https://www.coinigy.com/" target="_blank">Coinigy</a></li>                 
            <li data-toggle="tooltip" data-placement="bottom" title="TradingView" data-original-title="Tooltip on bottom"><a href="https://www.tradingview.com/" target="_blank">TradingView</a></li></ul>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Exchanges" data-original-title="Tooltip on bottom">Exchanges<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="Poloniex" data-original-title="Tooltip on bottom"><a href="https://poloniex.com/" target="_blank">Poloniex</a></li>           
            <li data-toggle="tooltip" data-placement="bottom" title="Bittrex" data-original-title="Tooltip on bottom"><a href="https://bittrex.com/" target="_blank">Bittrex</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Binance" data-original-title="Tooltip on bottom"><a href="https://www.binance.com/" target="_blank">Binance</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="YoBit" data-original-title="Tooltip on bottom"><a href="https://yobit.net/" target="_blank">YoBit</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="CoinExchange" data-original-title="Tooltip on bottom"><a href="https://www.coinexchange.io/" target="_blank">CoinExchange</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Cryptopia" data-original-title="Tooltip on bottom"><a href="https://www.cryptopia.co.nz/" target="_blank">Cryptopia</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Bitfinex" data-original-title="Tooltip on bottom"><a href="https://www.bitfinex.com/" target="_blank">Bitfinex</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Kraken" data-original-title="Tooltip on bottom"><a href="https://www.kraken.com/" target="_blank">Kraken</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="CEX.IO" data-original-title="Tooltip on bottom"><a href="https://cex.io/" target="_blank">CEX.IO</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="HitBTC" data-original-title="Tooltip on bottom"><a href="https://hitbtc.com/" target="_blank">HitBTC</a></li>
            <li class="divider"></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Changelly" data-original-title="Tooltip on bottom"><a href="https://changelly.com/" target="_blank">Changelly</a></li>            
          </ul>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Mining Software" data-original-title="Tooltip on bottom">Mining Software<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="NiceHash" data-original-title="Tooltip on bottom"><a href="https://miner.nicehash.com/" target="_blank">NiceHash</a></li>           
            <li data-toggle="tooltip" data-placement="bottom" title="Claymore's Dual Ethereum AMD GPU Miner" data-original-title="Tooltip on bottom"><a href="https://github.com/nanopool/Claymore-Dual-Miner/releases" target="_blank">Claymore's Dual Ethereum AMD GPU Miner</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Claymore's CryptoNote AMD GPU Miner" data-original-title="Tooltip on bottom"><a href="https://bitcointalk.org/index.php?topic=638915.0" target="_blank">Claymore's CryptoNote AMD GPU Miner</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="ethOS Mining OS" data-original-title="Tooltip on bottom"><a href="http://ethosdistro.com/" target="_blank">ethOS Mining OS</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="SimpleMining OS" data-original-title="Tooltip on bottom"><a href="https://simplemining.net/" target="_blank">SimpleMining OS</a></li></ul>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Mining Pools" data-original-title="Tooltip on bottom">Mining Pools<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="Expanse Official Pool" data-original-title="Tooltip on bottom"><a href="http://pool.expanse.tech/" target="_blank">Expanse Official Pool</a></li>           
            <li data-toggle="tooltip" data-placement="bottom" title="PPLNS Expanse Pool" data-original-title="Tooltip on bottom"><a href="https://expmine.pro/" target="_blank">expmine.pro</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Dwarfpool" data-original-title="Tooltip on bottom"><a href="https://dwarfpool.com/" target="_blank">Dwarfpool</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Coinmine" data-original-title="Tooltip on bottom"><a href="https://www2.coinmine.pl/" target="_blank">Coinmine</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Nanopool" data-original-title="Tooltip on bottom"><a href="https://nanopool.org/" target="_blank">Nanopool</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Coinotron" data-original-title="Tooltip on bottom"><a href="https://www.coinotron.com/" target="_blank">Coinotron</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Suprnova.cc" data-original-title="Tooltip on bottom"><a href="https://www.suprnova.cc/" target="_blank">Suprnova.cc</a></li>
          </ul>
          </ul>
    </div>
  </div>