  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><b>Bienvenido, Crypto Amigo</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" data-toggle="tooltip" data-placement="bottom" title="Página de Inicio" data-original-title="Tooltip on bottom"><a href="../cdrrosario/index.html">Inicio <span class="sr-only">(current)</span></a></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Bases de Datos del C.D.R. Rosario" data-original-title="Tooltip on bottom">Compra/Venta<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="Buscador Múltiple - Busca en todas las Bases de Datos." data-original-title="Tooltip on bottom"><a href="../cdrrosario/metabuscador.html">Metabuscador</a></li>
            <li class="divider">Atención T.S.</li>            
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Ayudas Urgentes, DADSE, ADDENDAS y Ayudas Económicas tramitadas." data-original-title="Tooltip on bottom"><a href="../cdrrosario/atencionts.html">Atención T.S.</a></li>
            <li class="divider">Economía Social</li>
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Talleres Familiares tramitados." data-original-title="Tooltip on bottom"><a href="../cdrrosario/tfamiliares.html">Talleres Familiares</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Ayudas Institucionales tramitadas." data-original-title="Tooltip on bottom"><a href="../cdrrosario/ainstitucionales.html">Ayudas Institucionales</a></li>
            <li class="divider">Visitas</li>
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Personas Inscriptas para Realizar Visita a Domicilio." data-original-title="Tooltip on bottom"><a href="../cdrrosario/varealizar.html">Visitas a Realizar</a></li>
            <li class="divider">Entregas</li>
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Entregas ya realizadas." data-original-title="Tooltip on bottom"><a href="../cdrrosario/entregas.html">Entregas Realizadas</a></li>
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Personas en Último Listado de Entregas." data-original-title="Tooltip on bottom"><a href="../cdrrosario/uentregas.html">Últimas Entregas</a></li>
            <li class="divider">Datos a Actualizar</li>
            <li data-toggle="tooltip" data-placement="bottom" title="Base de Datos para Actualización de Datos." data-original-title="Tooltip on bottom"><a href="https://docs.google.com/spreadsheets/d/110OkWe3hNIKVrsUszD47Ovvy2sjFFlbWFJIMlsxk0WE/edit#gid=0" target="_blank">Datos a Actualizar</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="Bases de Datos de la S.E.N.N.A.F." data-original-title="Tooltip on bottom">Minería<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Addendas tramitadas - Período 2013-2014" data-original-title="Tooltip on bottom"><a href="../cdrrosario/addendas2013-2014.html">Addendas 2013-2014</a></li>
            <li class="divider">-</li>            
            <li data-toggle="tooltip" data-placement="bottom" title="Búsqueda de Addendas tramitadas - Período 2014-2017" data-original-title="Tooltip on bottom"><a href="../cdrrosario/addendas2014-2017.html">Addendas 2014-2017</a></li>
          </ul>
          </ul>
    </div>
  </div>